<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Liberation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Liberation.styles.css" asp-append-version="true" />
    <style>
        a.navbar-brand{
            color:aliceblue;
            font-size: 35px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        a.navbar-brand:hover{
            color:rgb(194, 194, 248); 
            transform: scale(1.1); 
          text-shadow: 3px 3px 3px rgb(85, 85, 94);
          
        }

        .navbar:hover {
  background-color: rgba(18, 20, 24, 0.75);
}
        .navbar {
            max-height: 18%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
            <ul>
                <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Liberation">Liberation</a>
                </li>
                <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Notes">Notes</a>
                </li>
                <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Auth">Join Us</a>
                </li>
                 <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="API">API</a>
                </li>
                <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Audible">Keys</a>
                </li>
                <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Lingual">Lingual</a>
                </li>
                 <li class="navbar-brand">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Data">Data</a>
                </li>
            </ul>
            </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()

        </main>
    </div>

    <footer class="border-top footer text-light text-bolder">
        <div class="container">
            &copy; 2024 - Liberated
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
