/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
  background-color: rgba(18, 20, 24, 0.75);
  display: flex;
  justify-content: start;
}

.navbar:hover {
  background-color: none;
}

.navbar-brand {
  color: rgb(233, 232, 232);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  text-shadow: 4px 4px 4px rgb(112, 119, 148);
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-brand {
  color: #fff !important;
}

a.navbar-brand {
  color: rgb(120, 130, 238);
}

a.navbar-brand:hover {
  color: rgb(213, 157, 157);
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: rgba(35, 51, 67, 0.75);
}

.header {
  min-height: 20%;
}

#navy ul {
  list-style: none;
}

#navy li {
  display: inline-block;
  margin-right: 20px;
}
