
@model Liberation.Models.PokemonDetail

@{
    ViewData["Title"] = "Pokémon Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
       @* <style>
        <text>
        .fade-in-text {
            opacity: 0;
            animation: fadeIn1 3s forwards;
        }

        @keyframes fadeIn1 {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .fade-in-text2 {
            opacity: 0;
            animation: fadeIn2 5s forwards;
        }

        @keyframes fadeIn2 {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        </text>
    </style> *@
</head>
<body style="background-image: url('/assets/IChooseYou.png')" id="choosebg">  
<div id="GPBIContent">
@if (Model != null)
{
    <p id="chosen" class="fade-in-text">
   
     @Model.Name.ToUpper()</p>
     <p id="chooseContent" class="fade-in-text2">I Choose You!</p>
     <div id="backbuttondivcontent">
       <button id="choosebackbutton">
            <a 
         
            asp-area="" asp-controller="Home" asp-action="API">
            Back To API</a>
        </button>
     </div>
    <!-- Display other details as needed -->
}
else
{
    <p>Pokémon details not found.</p>
}
  </div>
</body>
</html>