<h1>3rd Party API</h1>
    <button class="btn btn-warning">
            <a
            id="TestButton"
             asp-area="" asp-controller="API" asp-action="Index">
            Test</a>
        </button>