<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body        style="background-image: url('/assets/LucaBg.png')" id="bodyAPI" >

<h1 id="GAPTitle">Get a List of All Pokemon</h1>
    <button id="PokemonListButton">
            <a
             asp-area="" asp-controller="API" asp-action="Index">
            Show</a>
        </button>
 <h2 id="GPBITitle">Search for a Pokémon by ID</h2>

<form asp-area="" asp-controller="API" asp-action="ById" method="post">
    <div>
        <label for="pokemonId">Enter Pokemon ID:</label>
        <input type="number" id="pokemonId" name="id" required />
        <button 
        id="GPBISearchButton"
        type="submit">Search</button>
    </div>
</form>
</body>
</html>