<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Interactive Piano</title>
    <style>
        @* body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        } *@

        .piano {
            display: flex;
        }

        .key {
            width: 100px;
            height: 500px;
            margin: 1px;
            background: rgb(240, 237, 237);
            border: 1px double #908f8f;
            position: relative;
            box-shadow: 6px 6px 6px rgb(143, 143, 147);
        }

        .key.black {
            background: black;
            height: 420px;
            width: 84px;
            margin-left: -15px;
            margin-right: -15px;
            z-index: 1;
            box-shadow: 4px 4px 4px rgb(95, 95, 135);
        }
    </style>
</head>
<body>
    <div class="piano">
        <div class="key" data-note="E3">E</div>
        <div class="key" data-note="F3">F</div>
            <div class="key black" data-note="F#3"></div>
        <div class="key" data-note="G3">G</div>
                 <div class="key black" data-note="G#4"></div>
        <div class="key" data-note="A4">A</div>
            <div class="key black" data-note="A#4"></div>
        <div class="key" data-note="B4">B</div>
        <div class="key" data-note="C4">C</div>
        <div class="key black" data-note="C#4"></div>
        <div class="key" data-note="D4">D</div>
        <div class="key black" data-note="D#4"></div>
        <div class="key" data-note="E4">E</div>
        <div class="key" data-note="F4">F</div>
        <div class="key black" data-note="F#4"></div>
        <div class="key" data-note="G4"></div>
        <div class="key black" data-note="G#4"></div>
        <div class="key" data-note="A4"></div>
        <div class="key black" data-note="A#4"></div>
        <div class="key" data-note="B4"></div>
        <div class="key" data-note="G#5" id="finalKey"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.36/Tone.js"></script>
    <script>
        const keys = document.querySelectorAll('.key');
        const synth = new Tone.Synth().toDestination();

        keys.forEach(key => {
            key.addEventListener('mousedown', () => {
                const note = key.getAttribute('data-note');
                synth.triggerAttackRelease(note, '8n');
                if (key.id === 'finalKey') {
                    window.location.href = '/Audible/DandD';
                    }
            });
        });
        
    </script>
</body>
</html>
