/* _content/Liberation/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar[b-eoqsin39st] {
  height: 40%;
  background-color: rgba(180, 205, 242, 0.7);
}

a.navbar-brand[b-eoqsin39st] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-eoqsin39st] {
  color: #e6eaed;
}

/* .btn-primary {
  color: #e7c3c3;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #e6d6d6;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

.border-top[b-eoqsin39st] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-eoqsin39st] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-eoqsin39st] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-eoqsin39st] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-eoqsin39st] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: rgb(214, 211, 207);
}

.header[b-eoqsin39st] {
  min-height: 20%;
}
