html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#NoteButton {
  margin-top: 30%;
  border-radius: 20px;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(194, 194, 249);
  border: 3px rgb(252, 252, 252) double;
  padding: 18px;
}

#VANButton {
  margin-top: 30%;
  border-radius: 20px;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(31, 31, 93);
  border: 3px rgb(14, 14, 14) double;
  padding: 18px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 110px;
}

#crudite {
  font-size: 60px;
  color: rgb(204, 206, 246);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 50px;
  text-shadow: 2px 2px 2px black;
}

#frontwords {
  font-size: 130px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#subtext {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(179, 179, 232);
}

#WelcomeButtons {
  font-size: 45px;
  text-shadow: 4px 4px 4px darkblue;
}

#WelcomeButtons2 {
  font-size: 45px;
  text-shadow: 4px 4px 4px rgb(36, 89, 69);
}

#WelcomeButtons3 {
  font-size: 45px;
  text-shadow: 4px 4px 4px rgb(113, 10, 10);
}

#WelcomeButtonSpan {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

th {
  color: aquamarine;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(14, 14, 14);
}

#notetitle {
  color: rgb(209, 246, 219);
  font-size: 50px;
  margin-bottom: 48px;
  text-shadow: 3px 2px 2px rgb(10, 48, 20);
}

td {
  color: rgb(249, 247, 246);
  font-weight: bolder;
  font-family: cursive;
  font-size: 22px;
}

.table {
  background-color: rgba(69, 63, 63, 0.8);
  border-radius: 20px;
  margin-bottom: 28px;
}

#thewelcome {
  font-size: 85px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 70px;
  text-shadow: 3px 2px 2px rgb(190, 190, 190);
}

#titlewords {
  color: rgb(185, 248, 229);
}
