/* html {
  font-size: 14px;
} */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#NoteButton {
  margin-top: 40%;
  border-radius: 30px;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(152, 152, 244);
  background-color: aliceblue;
  size: 100px;
}

#VANButton {
  margin-top: 40%;
  border-radius: 30px;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(158, 158, 240);
  background-color: aliceblue;
  size: 100px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}

#crudite {
  font-size: 60px;
  color: rgb(204, 206, 246);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 50px;
  margin-top: 200px;
}

#frontwords {
  font-size: 130px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#subtext {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}

#WelcomeButtons {
  font-size: 35px;
}

#WelcomeButtons2 {
  font-size: 35px;
}

#WelcomeButtons3 {
  font-size: 35px;
}
