<ol>
    <li>
        Preface
    </li>
    <li>
        What should you be able to do as a BackEnd Dev?
    </li>
    <li>
        And Front End?
    </li>
    <li>
        What tools do we have at our disposal 
    </li>
    <li>
        Aquiring those skills
    </li>
</ol>